.koba{
    color:white !important;
    font-size: 40px;

}
.navish{
    background-color: darkred;
    height:8vh;
}
.navy{
    color:white !important;
    padding: 30px;
    

}
.about{
    color: white;
    margin-top: 15px;
}
p{
    font-size: 20px;
}

h4{
    font-size: 30px;
}